
<title>Telegram</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>Telegram</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">指定群组发送信息</div>
        <div class="layui-card-body">
          <form class="layui-form" action="" lay-filter="component-form-element">
            <div class="layui-row layui-col-space10 layui-form-item">
              <div class="layui-col-lg6">
                <label class="layui-form-label">Tg 群组：</label>
                <div class="layui-input-block">
                    <select name="type" lay-verify="required" lay-filter="aihao">
                        <option value=""></option>
                        <option value="0">前端工程师</option>
                        <option value="1">Node.js工程师</option>
                        <option value="2">PHP工程师</option>
                        <option value="3">Java工程师</option>
                        <option value="4">运维</option>
                        <option value="4">视觉设计师</option>
                      </select>
                </div>
              </div>
              <div class="layui-col-lg6">
                <label class="layui-form-label">员工 群组：</label>
                <div class="layui-input-block">
                  <select name="type" lay-verify="required" lay-filter="aihao">
                    <option value=""></option>
                    <option value="0">前端工程师</option>
                    <option value="1">Node.js工程师</option>
                    <option value="2">PHP工程师</option>
                    <option value="3">Java工程师</option>
                    <option value="4">运维</option>
                    <option value="4">视觉设计师</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">信息：</label>
              <div class="layui-input-block">
                <textarea name="other" placeholder="信息文本可指定@人员，例如@arno" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="component-form-element">发送</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'form'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,element = layui.element
  ,form = layui.form;
  
  form.render(null, 'component-form-element');
  element.render('breadcrumb', 'breadcrumb');
  
  form.on('submit(component-form-element)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
});
</script>