
<title>Telegram</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>Telegram</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">指定群组发送信息</div>
        <div class="layui-card-body">
          <div class="layui-form" action="" lay-filter="component-form-element">
            <form class="layui-row layui-col-space10 layui-form-item">

              <script type="text/html" template lay-url="/detect/telegram" lay-done="layui.use(['form', 'formSelects'],function(){layui.form.render();layui.formSelects.render();})">

                  <div class="layui-col-lg6">
                    <label class="layui-form-label">Tg 群组：</label>
                    <div class="layui-input-block">
                        <select name="group" lay-verify="group" xm-select="group" xm-select-radio xm-select-search xm-select-skin="warm">
                            <option value=""></option>
                            {{#  for (var group in d.data.groups){ }}
                            <option value="{{ group }}">{{ d.data.groups[group]['name'] }}</option>
                            {{#  }; }}
                          </select>
                    </div>
                  </div>

                  <div class="layui-col-lg6">
                    <label class="layui-form-label">员工 组：</label>
                    <div class="layui-input-block">
                      <select name="atUsers" lay-verify="atUsers" xm-select="atUsers" xm-select-skin="default" xm-select-show-count=1 xm-select-search>
                        <option value=""></option>
                        {{#  layui.each(d.data.atUsers, function(index, item){ }}
                        <option value="{{ item.id }}" subtext="">{{ item.department }}: {{ item.display }}</option>
                        {{#  }); }}
                      </select>
                    </div>
                  </div>

              </script>
            </from>
            <div class="layui-form-item">
              <label class="layui-form-label">信息：</label>
              <div class="layui-input-block">
                <textarea name="text" lay-verify="text" placeholder="信息文本可指定@人员，例如@arno" class="layui-textarea" style="height: 180px;" required></textarea>
              </div>
            </div>
            <div class="layui-upload layui-form-item">
                <label class="layui-form-label">图片：</label>
                <div class="layui-input-block">
                <button type="button" class="layui-btn" id="upload_img">选择图片</button> 
                <!-- <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                  预览图：
                  <div class="layui-upload-list" id="demo2"></div>
                </blockquote> -->
                </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button name="telegramSendButtono" id="telegramSendButtono" class="layui-btn" lay-submit lay-filter="component-form-element" data-type="loading1">发送</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

// var loading1_iii;
// function loading1(){
//   loading1_iii = layer.load(1, {
//         shade: [0.1,'#fff']
//       });
//       // setTimeout(function(){
//       //   layer.close(iii)
//       // }, 3000);
//     };

layui.use(['admin', 'form', 'formSelects', 'upload'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,element = layui.element
  ,form = layui.form
  ,upload = layui.upload
  ,formSelects = layui.formSelects;
  
  //选完文件后不自动上传
  upload.render({
    elem: '#upload_img'
    ,url: '/detect/telegram/sendgroupmessage'
    ,auto: false
    ,multiple: true
    ,accept: 'file'
    ,exts: 'png|jpg'
    ,bindAction: false
    // ,bindAction: '#telegramSendButtono'
    // ,before: function(obj){
    //   //预读本地文件示例，不支持ie8
    //   obj.preview(function(index, file, result){
    //     $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
    //   });
    // }
    ,done: function(res){
        // 发送成功的提示
        layer.msg(res.msg, {
          offset: '15px'
          ,icon: 1
          ,time: 1000
        });
        // layer.close(loading1_iii); // 关闭 等待的弹层
      },success:function(res){
        if (res.code == 1001){ // 登陆失效
          layer.msg(res.msg, {
            offset: '15px'
            ,icon: 1
            ,time: 1000
          })
        };
        // layer.close(loading1_iii);
      }
  });


  // 等待的弹层
  function loading1(){
    loading1_iii = layer.load(2, {
        shade: [0.1,'#fff']
      });
      // setTimeout(function(){
      //   layer.close(iii)
      // }, 3000);
    };

  // 样式初始化
  form.render(null, 'component-form-element');
  element.render('breadcrumb', 'breadcrumb');

  // 验证表单
  form.verify({
      group: function(value){
        if(value.length == 0){
          return '请选择telegram 群组';
        }
      }
      ,text: function(value){
        if(value.length == 0){
          return '信息不能为空';
        }
      }
    });

  // 提交表单
  form.on('submit(component-form-element)', function(data){
    var type = $(this).data('type');

    // console.log(data);
    // return false;

    loading1.call(this); // 打开 等待的弹层

    admin.req({
      url: '/detect/telegram/sendgroupmessage' //实际使用请改成服务端真实接口code == 1001
      ,method: "post" 
      ,data: data.field
      ,done: function(res){
        // 发送成功的提示
        layer.msg(res.msg, {
          offset: '15px'
          ,icon: 1
          ,time: 1000
        });
        layer.close(loading1_iii); // 关闭 等待的弹层
      },success:function(res){
        if (res.code == 1001){ // 登陆失效
          layer.msg(res.msg, {
            offset: '15px'
            ,icon: 1
            ,time: 1000
          })
        };
        layer.close(loading1_iii);
      }
      
    });

    return false;
  });
});
</script>