{% if title %}
    <title>{{title}}</title>
{% else %}
    <title>管理中心</title>
{% endif %}
<style>
    hr {
        margin-top:5px;
        margin-bottom: 3px;
    },
 </style>
    <div class="placeholder">
        <div class="panel panel-default" style="margin-bottom: 5px;">
            <div class="panel-heading">
                <h4 class="panel-title">升级-基本操作</h4>
            </div>
            <div class="panel-body" style="padding-top: 5px; padding-bottom: 5px;">
            <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <form class="form-group form-inline" role="form" style="margin-bottom: 5px;">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button id="command_panel" class="btn btn-info" type="submit" title="隐藏" style="width: 35px;">-</button>
                            </span>
                            <span class="form-control" style="width: auto;">凤凰Apache配置推送</span>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12" id="command_form" style="display: inline; background-color: #F0F8FF;">
                    <br>
                    <div class="col-xs-11 col-sm-11 col-md-11">
                        <form class="form-group form-inline" role="form" id="apacheconfigDeploy" name="apacheconfigDeploy"> 
                            <select class="form-control selectpicker show-tick" onchange="operate.GetapacheconfigCust()" id="apacheconfig_product" name="apacheconfig_product" title="请选择产品" data-width="48%">
                            </select>
                            <select class="form-control selectpicker show-tick" data-live-search="true" id="apacheconfig_customer" name="apacheconfig_customer" multiple data-actions-box="true" title="请选择客户" data-width="48%">
                            </select>
                        </form>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1">
                        <input id="btn_submit_command" type="submit" onclick="operate.Submit('btn_submit_command')" class="btn btn-default" style="width:100%;" value="推送">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <form class="form-group form-inline" role="form" style="margin-bottom: 5px;">
                        <hr size=1>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button id="command2_panel" class="btn btn-info" type="submit" title="隐藏" style="width: 35px;">-</button>
                            </span>
                            <span class="form-control" style="width: auto;">代码升级 | 不升级的客户优先级高于只升级的客户</span>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12" id="command2_form" style="display: inline; background-color: #F0F8FF;">
                    <br>
                    <div class="col-xs-11 col-sm-11 col-md-11">
                        <form class="form-group form-inline" role="form" id="projectupgrade" name="projectupgrade"> 
                            <select class="form-control selectpicker show-tick" onchange="operate.GetProjectProd()" id="project_envir" name="project_envir" title="请选择环境" data-width="24%">
                            </select>
                            <select class="form-control selectpicker show-tick" onchange="operate.GetProjectCust()" id="project_product" name="project_product" title="请选择产品" data-width="24%">
                            </select>
                            <select class="form-control selectpicker show-tick" id="project_codeEnv" multiple name="project_codeEnv" title="请选择代码环境" data-width="24%">
                            </select>
                            <select class="form-control selectpicker show-tick" id="project_isdeletegraylock" name="project_isdeletegraylock" title="请选择是否删除记录锁" data-width="24%">
                                <option value=0>不删除灰度锁</option>
                                <option value=1>删除灰度锁</option>
                            </select>
                        </form>
                        <form class="form-group form-inline" role="form" id="projectupgrade" name="projectupgrade"> 
                            <select class="form-control selectpicker show-tick" data-live-search="true" multiple data-actions-box="true" id="project_customer_in" name="project_customer_in" title="请选择只升级的客户" data-width="24%">
                            </select>
                            <select class="form-control selectpicker show-tick" data-live-search="true" multiple data-actions-box="true" id="project_customer_ex" name="project_customer_ex" title="请选择不升级的客户" data-width="24%">
                            </select>
                            <select class="form-control selectpicker show-tick" data-live-search="true" multiple data-actions-box="true" id="project_department" name="project_department" title="请选择需要通知的同事" data-width="24%">
                            </select>
                            <select class="form-control selectpicker show-tick" id="project_isrsyncwhole" name="project_isrsyncwhole" title="是否全目录同步" data-width="24%">
                                <option value=1>同步全目录</option>
                                <option value=0 selected>不同步全目录</option>
                            </select>
                        </form>
                    </div>
                
                    <div class="col-xs-1 col-sm-1 col-md-1">
                        <form class="form-group form-inline" role="form">
                            <input id="btn_submit_command2" type="button" onclick="operate.PreSubmit('btn_submit_command2')" class="btn btn-default" style="width: 100%; height: 82px;" value="升级">
                        </form>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="svnlogprocess" tabindex="-1" role="dialog"   
       aria-labelledby="svnlogprocessLabel" aria-hidden="true" data-backdrop="static" >   
       <div class="modal-dialog" style="width: 1200px;">  
           <div class="modal-content" >
                <div class="modal-header">
                    <span style="text-align:center;color:blue" id="svnlogprocess_head">请选择要升级的svn 记录</span><br/>
                </div>
                <div class="modal-body">
                    <table id="records_table" class="table table-condensed" data-bind="myBootstrapTable:$root">
                    </table>
                </div>
                <div class="modal-footer" id="svnlogprocessFooter">
                    <button type="button" id="btn_close" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <input id="btn_commit_upgrade" type="button" onclick="operate.Submit('btn_submit_command2')" class="btn btn-default" value="确认升级">
                </div>
           </div>  
       </div>  
    </div>

    <div class="modal fade" id="svnlogprocess-whole" tabindex="-1" role="dialog"   
       aria-labelledby="svnlogprocessLabel" aria-hidden="true" data-backdrop="static" >   
       <div class="modal-dialog">  
           <div class="modal-content" >
                <div class="modal-header">
                    <span style="text-align:center;color:red" id="svnlogprocess_head">请注意：已选择升级整个版本库！</span><br/>
                </div>
                <div class="modal-body" id="svnlogprocess-whole-body">
                    
                </div>
                <div class="modal-footer" id="svnlogprocessFooter">
                    <button type="button" id="btn_close" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <input id="btn_commit_upgrade" type="button" onclick="operate.Submit('btn_submit_command2')" class="btn btn-default" value="确认升级">
                </div>
           </div>  
       </div>  
    </div>

    <div class="modal fade" id="runprogress" tabindex="-1" role="dialog"   
       aria-labelledby="runprogressLabel" aria-hidden="true" data-backdrop="static">   
       <div class="modal-dialog">  
           <div class="modal-content" >
                <div class="modal-header">
                    <span style="text-align:center;color:blue" id="progress_head">操作进行中，请勿刷新页面......</span><br/>
                </div>
                <div class="modal-body">
                    <div class="progress progress-striped active">  
                        <div class="progress-bar progress-bar-success" role="progressbar" id="progress_bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        </div>
                    </div>
                    <pre class="pre-scrollable" id="OperateRestartresults"></pre>
                </div>
                <div class="modal-footer" id="progressFooter">
                </div>
           </div>  
       </div>  
    </div>  

    <div class="placeholder">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">返回结果</h4>
            </div>
            <div class="panel-body">
                <pre class="pre-scrollable" id="commandresults"></pre>
            </div>
        </div>
    </div>

<script>
    //console.log("{{ items|safe }}");
    window.items = {{ items|safe }};
    window.atUsers = {{ atUsers|safe }};
    //console.log(window.items[0]);
    window.envirHtml = ""
    window.productHtml = ""
    window.atUsersHtml = ""
    for (var i = 0; i < items.length; i++){
        envirHtml = envirHtml + "<option value="+items[i]['envir'][0]+">"+items[i]['envir'][1]+"</option>";
        productHtml = productHtml + "<option value="+items[i]['product'][0]+">"+items[i]['product'][1]+"</option>";
    }

    for (var department in atUsers) {
        info = atUsers[department]
        //console.log(info['display'])
        atUsersHtml += "<option value="+info['id']+" data-subtext="+info['display']+">"+info['department']+"</option>";
    }

    document.getElementById("project_envir").innerHTML=envirHtml;
    document.getElementById("apacheconfig_product").innerHTML=productHtml;
    document.getElementById("project_department").innerHTML=atUsersHtml;
</script>

<script src="/static/custom/tablejs/public/public.js" type="text/javascript"></script>
<script src="/static/custom/tablejs/upgrade/operate.js" type="text/javascript"></script>
<script src="/static/custom/tablejs/upgrade/get_svn_records.js" type="text/javascript"></script>